.skillItem {
  @include breakpoint(mobileonly) {
    width: 100%;
    margin: 0;
  }

  input {
    border: 1px solid #b5b6b7;
    height: 25px;
    border-radius: 5px;
    padding: 0 6px;
    background-color: #f1f0ec;
    color: $NileBlue;

    @include breakpoint(mobileonly) {
      width: 90%;
    }
  }

  span {
    padding-left: 15px;
    font-weight: 800;
    font-size: 25px;

    @include breakpoint(mobileonly) {
      width: 10%;
      padding-left: 8px;
    }
  }
}
