.skillItem {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  @include breakpoint(mobileonly) {
    width: 100%;
    margin: 0;

    p {
      width: 35px;
      margin: 0;
      font-size: 24px;
      font-weight: 700;
      display: inline-block;
    }
  }

  input {
    margin-bottom: 10px;
    width: 50%;
    border: 1px solid $Bombay;
    height: 25px;
    border-radius: 5px;
    padding: 0 6px;
    background-color: $Cararra;
    color: $NileBlue;

    @include breakpoint(mobileonly) {
      width: 90%;
    }
  }

  p {
    line-height: 20px;
    height: 25px;
    display: inline-block;
    margin: 0;
    font-weight: 800;
    font-size: 28px;
    @include breakpoint(mobileonly) {
      padding-left: 3px;
      font-size: 20px;
    }
  }
}
