.newProject__addIcon {
  background-color: $RoyalBlue;
  width: 45px;
  height: 45px;
  font-size: 30px;
  border: none;
  margin-bottom: 15px;
  color: #fff;
  border-radius: 7px;
  box-shadow: 0 5px $RoyalBlue;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
}
