.timer {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  text-align: center;
  padding: 10px 0px 10px 0px;

  .timer-circle {
    padding: 5px;
  }
}

.time {
  font-size: 32px;
}

.timer-button {
  margin: 5px;
}

.button-row {
  justify-content: center;
}
