.addSkill {
  display: flex;
  justify-content: center;
  @include breakpoint(mobileonly) {
    margin-bottom: 10px;
  }

  .primaryButton.small {
    display: none;
    width: 55px;
    margin: 0;
    @include breakpoint(mobileonly) {
      display: inline-block;
    }
  }

  input {
    margin-bottom: 15px;
    width: 50%;
    border: 1px solid $Bombay;
    height: 25px;
    border-radius: 5px;
    padding: 0 6px;
    background-color: $Cararra;
    color: $NileBlue;

    @include breakpoint(mobileonly) {
      width: calc(100% - 55px);
      margin-bottom: 10px;
    }
  }

  p {
    cursor: pointer;
    line-height: 20px;
    height: 25px;
    display: inline-block;
    margin: 0;
    font-weight: 800;
    font-size: 28px;
    @include breakpoint(mobileonly) {
      display: none;
    }
  }

  hr {
    margin: 2px 0 10px;
    border-color: rgba(255, 255, 255, 0.2);
  }
}
