.grokitCard {
  background-color: $SanJuan;
  color: $Cararra;
  border: 2px solid $SanJuan;
  width: 100%;
  margin: 10px;

  @include breakpoint(mobileonly) {
    width: 100%;
  }
}

.arrow {
  border: solid $Cararra;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(45deg);
  transition: transform 1s;

  &.open {
    transform: rotate(-135deg);
  }
}
