.NavBar {
  background-color: $NileBlue;

  .navbar-brand {
    color: $Cararra;
    cursor: default;

    &:hover {
      color: $Cararra;
    }
  }

  .navlink {
    margin: 0 15px 0 15px;
    line-height: 40px;
    color: $Cararra;
    text-decoration: none;
    text-align: center;
    @include breakpoint(mobileonly) {
      margin-bottom: 10px;
    }
    &.active {
      opacity: 0.6;
      border-bottom: 2px solid $Cararra;
      @include breakpoint(mobileonly) {
        border: none;
      }
    }

    &:hover {
      opacity: 0.6;
    }
  }

  .custom-toggle {
    border-color: transparent;
  }

  .secondaryButton {
    margin-right: 10px;

    @include breakpoint(mobileonly) {
      margin-right: 0;
      margin-bottom: 5px;
    }
  }
}
