.introPage {
  &__introduction {
    padding: 30px 0;

    p {
      border: 1px solid #cecece;
      padding: 25px;
      border-radius: 10px;
    }
  }

  &__quotation {
    font-weight: normal;
    font-family: "Playfair-display";
  }
}
