.introPage {
  &__introduction {
    margin: 0 auto;
    @include breakpoint(phablet) {
      .mobile-break {
        display:none
      }
    }
  }

  &__quotation {
    font-weight: normal;
    font-family: "Playfair-display";
  }
}
