body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

// default styling
@import "constants/styling/colours.scss";
@import "constants/styling/buttons.scss";
@import "constants/styling/font.scss";

// component styling
@import "./App.scss";
@import "components/CreateNewProject/NewProject.scss";
@import "components/CreateNewProject/Modal.scss";
@import "components/Forms/Forms.scss";
@import "components/Forms/SignUp/SignUp.scss";
