.forms {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;

  .border {
    min-width: 35%;
    padding: 10px 25px;
  }

  &__confirmationTitle {
    margin-bottom: 0;
  }

  &__confirmationText {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 750px) {
  .App {
    flex-direction: column;
  }
}
